name: Validate with hassfest

on:
  push:
    paths:
      - custom_components/mjpeg_timelapse/*
  pull_request:
    paths:
      - custom_components/mjpeg_timelapse/*
  schedule:
    - cron:  '0 0 * * *'

jobs:
  validate:
    runs-on: "ubuntu-latest"
    steps:
        - uses: "actions/checkout@v2"
        - uses: "home-assistant/actions/hassfest@master"
